* {
  margin: 0;
  padding: 0;
}
.main_box {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  gap: 5px;
  margin-top: 20px;
}
.main_heading {
  display: block;
  margin: 20px;
  text-align: center;
}
.card {
  width: 200px;
  padding: 10px;
  border: 1px solid #e17373;
}
